<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen">
        <activity
            android:name=".ui.activities.TrackMoneyActivity"
            android:exported="true">

            <nav-graph android:value="@navigation/track_money_navigation" />

        </activity>
        <activity android:name=".ui.activities.BorrowerActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.WhatsNewActivity" />
        <activity android:name=".ui.activities.ShowImageActivity" />
        <activity
            android:name=".ui.activities.HouseRentersActivity"
            android:exported="true">

            <nav-graph android:value="@navigation/app_navigation" />
        </activity>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <service
            android:name=".services.UploadService"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".services.DeleteService"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".services.UpdateService"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".services.DeleteAllDocumentsService"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".services.UploadDocumentListToFireStoreService"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".services.DeleteFileFromFirebaseStorageService"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".services.UploadFileToCloudStorageService"
            android:foregroundServiceType="shortService" />
        <service
            android:name=".services.SyncDocumentsFromFirestoreService"
            android:foregroundServiceType="shortService" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://d4027b3e1bca445192c0e2011c07ea31@o453884.ingest.sentry.io/5502470" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rohitthebest.manageyourrenters.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

        </provider>

    </application>

</manifest>