<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rohitthebest.manageyourrenters">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManageYourRenters">
        <activity
            android:name=".ui.activities.TrackMoneyActivity"
            android:exported="true" />
        <activity android:name=".ui.activities.BorrowerActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.HouseRentersActivity" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.UploadService" />
        <service android:name=".services.DeleteService" />
        <service android:name=".services.UpdateService" />
        <service android:name=".services.DeleteAllDocumentsService" />
        <service android:name=".services.UploadDocumentListToFireStoreService" />
        <service android:name=".services.DeleteFileFromFirebaseStorageService" />
        <service android:name=".services.UploadFileToFirebaseStorageService" />
        <service android:name=".services.ExpenseCategoryService" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://d4027b3e1bca445192c0e2011c07ea31@o453884.ingest.sentry.io/5502470" />
    </application>

</manifest>